.main-text {
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  flex-direction: row; 
}

.mega-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    flex-direction: row;  
}

.main-container{
  height: 90px;
  width: 100%;
  background-color: gray;
  border-radius: 30px;
  justify-content: center;
}

.normal-text{
  font-size: 30px;
  color: #555;
  justify-content:center;
}

.btn {
    width:191;
    height: 56 px;
    border: none;
    background-color: #00ff9d;
    font-size: 20px;
    text-transform: uppercase;
}


.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.text-container{
  height: 600px;
  width: 60%;
  border-radius: 30px;
  justify-content: center;
}

.img-container{
    height: 600px;
    width: 60%;
    border-radius: 30px;
    justify-content: center; 
}

.cardContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 90%;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    background: gray;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.cardbutton{
    background: gray;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}