.main-text {
  font-size: 40px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  flex-direction: row; 
}

.mega-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    flex-direction: row;  
}

.main-container{
  height: 80px;
  width: 100%;
  background-color: #E8E8E8;
  border-radius: 30px;
  justify-content: center;
}

.normal-text{
  font-size: 30px;
  color: black;
  justify-content:center;
}

.btn {
    width:191;
    height: 56 px;
    border: none;
    background-color: #00ff9d;
    font-size: 20px;
    text-transform: uppercase;
}


.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.text-container{
  height: 600px;
  width: 60%;
  border-radius: 30px;
  justify-content: center;
}

.img-container{
    height: 600px;
    width: 60%;
    border-radius: 30px;
    justify-content: center; 
}