.main-text {
  font-size: 96px;
  font-weight: bold;
  color: white;
}

.normal-text{
  font-size: 30px;
  color: black;
  justify-content:center;
}

.btn {
    width:191;
    height: 56 px;
    border: none;
    background-color: #00ff9d;
    font-size: 20px;
    text-transform: uppercase;
}


.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.text-container{
  height: 480px;
  width: 60%;
  background-color: white;
  border-radius: 30px;
  justify-content: center;
  
}